button {
    text-align: center;
    margin-right: 60px;
    margin-left: 60px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(7, 32, 10);

}

button:hover {
    color: rgb(205, 112, 12); 
    text-align: center;
    transition: 0.3s;


}

.Header {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    font-size: 1.75vw;
    background-image: url(./Images/forest-g20ea03b8e_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    font-family: 'Libre Baskerville', serif;
    
}

.Title {
    width: 25%;
    text-align: center;
    color: rgb(7, 32, 10);
}

.Navigation {
    margin-top: 3vw;
}

.material-symbols-outlined {
    font-size: 4vw;
    font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 40
}

.Travel {
    display: flex;
    text-align: center;
    height: 30vw;
}

.TravelPictures {
    display: flex;
    flex-wrap: wrap;
    margin: 3vw;
    width: 75%;
    background-image: url(./Images/pexels-yaroslav-shuraev-1834403\ copy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.TravelText {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    text-align: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin: 3vw;
}

p {
    font-size: 2vw;
    padding: 4vw;
}

.MyselfPicturesTop {
    display: flex;
    height: 300px;
    width: 100%;
}

.MyselfPicturesBottom {
    display:flex;
    height: 300px;
}

.MyselfText {
    width: 100%;
    margin: 3vw;
    text-align: center;
}

.Body {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.SideImagesColumnOne {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.Page {
    width: 100%;
}

h2 {
    font-size: 4vw;
}

.basilImages {
    margin: 3vw;
}

#header {
    border: solid;
    padding: 1vw;
    font-size: 3vw;
    font-weight: 40px;
    font-family: 'Libre Baskerville', serif;
}
