body {
    color: black;
    text-align: center;
    background-color: rgb(255, 204, 243);
    margin: 10px;
}
.Content {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.Paragraph {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    
.Photos {
    background-color: rgb(255, 127, 217);
    width: 60%;
    margin-right: 2%;
    border: 2px solid rgb(220, 3, 165);
}